
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* prototipo */
    background-color: red;
}

nav .nav-section {
    display: flex;
    align-items: center;
    height: 100%;
    /* prototipo */
    width: 300px;
    background-color: orange;
}

nav .nav-section #logo{
    height: 100%;
    /* prototipo */
    width: 30%;
    background-color: yellow;
}

nav .nav-section .nav-container-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* prototipo */
    width: 70%;
    background-color: green;
}

nav .nav-section .nav-container-button .nav-button {
    /* prototipo */
    height: 30%;
    width: 30%;
    background-color: lightgreen;
}

nav .nav-section a {
    background-color: #0061ff;
    height: 50%;
    width: 20%;
    margin: 0 auto;
}

/* per tutti */
.container {
    max-width: 690px;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 410px;
    padding-top: 45px;
    background-color: #b4d0e7;
}

header .container #header-title {
    margin-top: 50px;
    width: 100%;
    /* prototipo */
    min-height: 110px;
    background-color: blue;
}

header .container #header-bottom {
    width: 100%;
    min-height:230px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

header .container #header-bottom #header-text {
    min-height: 230px;
    width: 33%;
    background-color: darkred;
}

header .container #header-bottom #header-img {
    min-height: 230px;
    width: 65%;
    background-color: red;
}