.blue-button {
    background-color: #0061ff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* prototipo */
    background-color: red;
}

nav .nav-section {
    display: flex;
    align-items: center;
    height: 100%;
    /* prototipo */
    width: 300px;
    background-color: orange;
}

nav .nav-section #logo{
    height: 100%;
    /* prototipo */
    width: 30%;
    background-color: yellow;
}

nav .nav-section .nav-container-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* prototipo */
    width: 70%;
    background-color: green;
}

nav .nav-section .nav-container-button .nav-button {
    /* prototipo */
    height: 30%;
    width: 30%;
    background-color: lightgreen;
}

nav .nav-section a {
    height: 50%;
    width: 20%;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 410px;
    padding-top: 45px;
    background-color: #b4d0e7;
}

#header-container {
    max-width: 690px;
    margin: 0 auto;
}

header #header-container #header-title {
    margin-top: 50px;
    width: 100%;
    /* prototipo */
    min-height: 110px;
    background-color: blue;
}

header #header-container #header-bottom {
    width: 100%;
    min-height:230px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
}

header #header-container #header-bottom #header-text {
    min-height: 230px;
    width: 33%;
    background-color: darkred;
}

header #header-container #header-bottom #header-img {
    min-height: calc(230px + 2em);
    width: 65%;
    background-color: red;
    position: absolute;
    right: 0;
    bottom:-2em;
}

main #main-container {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 600px;
    background-color: lightgrey;
}

#business-plan h2 {
    font-size: 2em;
    padding:2em 0;
}

#business-plan #billing {
    display: flex;
    align-items: center;
    gap: 2em;
}

#business-plan #billing .choice {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 2.5em;
}

#business-plan #billing .choice #option-chosen {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #0061ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#business-plan #billing .choice #option-chosen div {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: white;
}

#business-plan #billing .choice #option-not-chosen {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 0.1em solid grey;
}

#business-plan #plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#business-plan #plan .single-plan {
    width: 30%;
    min-height: 540px;
    font-size: 0.9em;
    border: 1px solid grey;
}

.user {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 0.5em;
}

.single-plan-container {
    margin: 0 auto;
    width: 90%;
}

.single-plan .single-plan-container div .single-plan-option {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.single-plan .single-plan-container .blue-button {
    margin: 0 auto;
    width: 80%;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-plan .single-plan-container .blue-button a {
    text-decoration: none;
    color: white;
}

.single-plan .single-plan-container div hr {
    width: 30%;
}

.single-plan .single-plan-container div ul li{
    list-style-position:inside;
}

/* piano orizzontale */
#business-plan #horizontal-plan {
    min-height: 145px;
    width: 100%;
    border: 1px solid grey;
    margin-top: 2.5em;
}

#business-plan #horizontal-plan #horizontal-plan-flex {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding-top: 1em;
}

#business-plan #horizontal-plan #horizontal-plan-flex #flex-left {
    width: 60%;
    height: 80px;
    background-color: yellow;
}

#business-plan #horizontal-plan #horizontal-plan-flex #flex-right {
    width: 30%;
    height: 30px;
    background-color: orange;
}

#business-plan #partner {
    width: 100%;
    background-color: blue;
    margin: 10em 0;
    display: flex;
    justify-content: space-between;
}

#business-plan #partner #partner-image {
    width: 55%;
    height: 295px;
    background-color: aqua;
}

#business-plan #partner #partner-text {
    width: 40%;
    height: 295px;
    background-color: darkcyan;
}

/* sezione 2 */

#section-2 #container-operation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#section-2 #container-operation .operation {
    width: 30%;
    padding: 2em 0;
    font-size: 0.8em;
}

#section-2 #container-operation .operation img{
    width: 100%;
}

/* sezione 3 */

#section-3 {
    padding:5em 0 7em 0;
}

#section-3 h2 {
    padding: 2em 0;
}


/* sezione aziende */

#outdoor-section {
    width: 100%;
    min-height: 580px;
    background-color: #b4d0e7;
}

#outdoor-section #companies {
    display: flex;
}

#outdoor-section #companies .company {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

#outdoor-section #companies .company .company-img img{
    width: calc((100vw / 3) / 2 - 3px);
    /* height: calc((100vw / 3) / 2 - 3px); */
}

#outdoor-section #companies #companies-description {
    width: calc(100% / 3);
}

#outdoor-section #companies #companies-description {
    background-color: #f5f5f5;
}

.main-bottom-container {
    max-width: 600px;
    margin: 0 auto;
}

#free-trial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}

#purple {
    width: 50%;

}

#button-free-trial {
    background-color: white;
    padding: 1em 3em;
    text-decoration: none;
}


#last-section {
    margin-top:6em;
    margin-bottom: 6em;
}

#last-section .last-section-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1em 0em;
}
#last-section .last-section-flex a {
    text-decoration: none;
}