.blue-button {
    background-color: #0061ff;
    padding: 0.6em 0.9em;
    border: #0061ff;
    color: white;
}

.blue-button:hover {
    background-color: #00a9ff;
}

h2 {
    font-size: 2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* prototipo */
    background-color: white;
}

nav .nav-section {
    display: flex;
    height: 100%;
    align-items: center;
}

nav .nav-section #logo img {
    height: 1.5em;
    padding: 0 1em;
}

nav .nav-section .nav-container-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 1em;
}

nav .nav-section .nav-container-button .nav-button {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #303030;
    position: relative;
}

.nav-hover {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-hover hr {
    width: 100%;
    bottom: 0;
    display: none;

}

.nav-hover:hover hr {
    display: inline-block;
    border-color: #0061ff;
}

nav .nav-section button {
    margin:0 1em;
}

header {
    width: 100%;
    padding-top: 45px;
    background-color: #b4d0e7;
}

#header-container {
    max-width: 690px;
    margin: 0 auto;
}

header #header-container #header-title {
    margin: 50px 0;
}

header #header-container #header-title h1 {
    font-size: 4em;
}

header #header-container #header-bottom {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
}

header #header-container #header-bottom #header-text {
    width: 30%;
    font-size: 0.8em;
}

header #header-container #header-bottom #header-text button {
    margin: 2em 0;
}

header #header-container #header-bottom #header-text #arrow {
    font-size: 3em;
    padding-top: 1.5em;
    padding-bottom: 0.2em;
}

@keyframes arrow{
    0% {
        transform: translateY(0);
      }
    25% {
        transform: translateY(0.5em);
      }
    50% {
        transform: translateY(1em);
      }
    75% {
        transform: translateY(0.5em);
      }
    100% {
        transform: translateY(0);
      }
}

#arrow:active {
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


header #header-container #header-bottom #header-img {
    width: 70%;
}

header #header-container #header-bottom #header-img img {
    width: 100%;
    margin-bottom: -5em;
}

main #main-container {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 600px;
}

main #main-container p {
    font-size: 0.8em;
    line-height: 1.3em;
}

#section-1 h2 {
    padding:1.5em 0;
}

#section-1 #billing {
    display: flex;
    align-items: center;
    gap: 2em;
}

#section-1 #billing .choice {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 2.5em;
}

#section-1 #billing .choice #option-chosen {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #0061ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1 #billing .choice #option-chosen div {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: white;
}

#section-1 #billing .choice #option-not-chosen {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 0.1em solid grey;
}

#section-1 #plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#section-1 #plan .single-plan {
    width: 30%;
    font-size: 0.9em;
    border: 1px solid lightgrey;
}

.user {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 0.5em;
}

.single-plan-container {
    margin: 0 auto;
    width: 90%;
    font-size: 0.90em;
}

.single-plan-container .single-plan-top h3 {
    padding-top: 1em;
    font-size: 1.5em;
}

.single-plan-container .single-plan-top div {
    padding-top: 0.8em;
}


.single-plan .single-plan-container .single-plan-option-container {
    padding-top: 2em;
}

.single-plan .single-plan-container .single-plan-option-container:last-child {
    padding-bottom: 2em;
}

.single-plan .single-plan-container div .single-plan-option {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1em;
}

.single-plan .single-plan-container .blue-button {
    margin: 3em auto 2em auto;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.single-plan .single-plan-container .blue-button a {
    text-decoration: none;
    color: white;
}

.single-plan .single-plan-container .shop-now {
    padding-bottom: 2em;
}

.single-plan .single-plan-container .shop-now a{
    color: #0061ff;
}

.single-plan .single-plan-container div hr {
    width: 20%;
}

.single-plan .single-plan-container div .title-list {
    padding: 3em 0 0.5em 0;
}

.single-plan .single-plan-container div .single-plan-option .icon {
    padding-right: 0.3em;
}

.single-plan .single-plan-container div .single-plan-option .icon-blue {
    color:#0061ff;
}

/* piano orizzontale */
#section-1 #horizontal-plan {
    min-height: 145px;
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 2.5em;
}

#section-1 #horizontal-plan #horizontal-plan-flex {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding: 1.5em 0;
}

#section-1 #horizontal-plan #horizontal-plan-flex #flex-left {
    width: 68%;
}

#flex-left div, #flex-left p {
    font-size: 0.8em;
}

#flex-left div {
    padding-top: 1em;
    padding-bottom: 3em;
}

#horizontal-plan-flex #flex-right button {
    padding-left: 2em;
    padding-right: 2em;
}

#section-1 #partner {
    width: 100%;
    margin: 6em 0;
    display: flex;
    justify-content: space-between;
}

#section-1 #partner #partner-image {
    width: 60%;
}

#section-1 #partner #partner-image img {
    width: 100%;
}


#section-1 #partner #partner-text {
    width: 35%;
    padding-top:2.5em;
}

#section-1 #partner #partner-text p {
    margin: 1em 0;
}

#section-1 #partner #partner-text button {
    padding: 0.5em;
    border: 1px solid grey;
}

/* sezione 2 */

#section-2 #container-operation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#section-2 #container-operation .operation {
    width: 30%;
    padding: 2em 0;
}

#section-2 #container-operation .operation img{
    width: 100%;
}

#section-2 #container-operation .operation h3 {
    padding-bottom: 1.5em;
}

/* sezione 3 */

#section-3 {
    padding:5em 0 7em 0;
}

#section-3 h2 {
    width: 55%;
    padding: 2em 0;
    line-height: 1.4em;
}

#section-3 a {
    color: #0061ff;
}


/* sezione aziende */

#outdoor-section {
    width: 100%;
    background-color: #b4d0e7;
}

#outdoor-section #companies {
    display: flex;
}

#outdoor-section #companies .company {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}


#outdoor-section #companies .company .company-img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outdoor-section #companies .company .company-img img {
    filter: invert(100%);
}



#company-1 {
    background-color: #a2d39b;
    height: 15%;
}

#company-1 img {
    height: 15%;
}

#company-2 {
    background-color: #61082b;
}

#company-2 img {
    height: 40%;
}

#company-3 {
    background-color: #0093ce;
}

#company-3 img {
    height: 10%;
}

#company-4 {
    background-color: #ff1c1c;
}

#company-4 img {
    height: 20%;
}

#company-5 {
    background-color: #d5001f;
}

#company-5 img {
    height: 20%;
}

#company-6 {
    background-color: #b4d0e7;
}

#company-6 img {
    height: 5%;
}

#company-7 {
    background-color: #0d2481;
}

#company-7 img {
    height: 25%;
}

#company-8 {
    background-color: #ffd830;
}

#company-8 img {
    height: 30%;
}

/* hover */
.company .company-img:hover {
    border: 1em solid rgba(255, 255, 255, 0.5);
}

/* descrizione aziende */
#outdoor-section #companies #companies-description {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    overflow-y: auto;
    background-color: #f5f5f5;
}

#description-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
}

#description-container #logo-company {
    padding-bottom: 2em;
}

#description-container #logo-company img{
    width: 50%;
}

#description-container hr {
    width: 20%;
}

#description-container p {
    padding: 2em 0;
}

.main-bottom-container {
    max-width: 600px;
    margin: 0 auto;
}

#free-trial {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5em 0;
}

#purple {
    width: 50%;
}

#purple h2 {
    line-height: 1.4em;
    color: #61082b;
}

#button-free-trial {
    background-color: white;
    padding: 0.5em 3em;
    border: 1px solid white;
    font-size: 1em;
}

/* last section */

#last-section {
    margin-top:6em;
    margin-bottom: 6em;
}

.section-hover p {
    display: none;
    font-size: 0.9em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

.section-hover:hover p {
    display: block;
}

#last-section h2 {
    padding-bottom: 2em;
}

#last-section .last-section-flex {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em;
}
#last-section .last-section-flex a {
    text-decoration: none;
}


/* footer */

footer {
    min-height: 350px;
    width: 100%;
    background-color: black;
}

#footer-container {
    max-width: 690px;
    margin: 0 auto;
    padding-top: 4em;
}

#footer-container #footer-lists {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}

#footer-container #footer-lists .list {
    width: 18%;
    color: white;
}

#footer-container #footer-lists .list div {
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 1em;
}

#footer-container #footer-lists .list ul li {
    list-style-type: none;
    font-size: 0.8em;
    line-height: 2.5em;
}

#footer-container #footer-lists .list ul li a {
    text-decoration: none;
}

#footer-container hr {
    margin: 2.5em 0;
    width: 12%;
}

#footer-container a {
    display: flex;
    gap: 0.5em;
    color: white;
    text-decoration: none;
}